<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<div class="container"><h3>Link게시판</h3></div>
<div class = "container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>이름</th>
                <th>나이</th>
                <th>성별</th>
                <th>전공</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.index}"></td>
                <td><a th:href="@{/board-link/post/{id}(id=${board.index})}" th:text="${board.title}"></a></td>
                <td th:text="${board.name}"></td>
                <td th:text="${board.age}"></td>
                <td th:text="${board.sex}"></td>
                <td th:text="${board.department}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<button onclick="location.href='/board-link/write'">write</button>


</body>
</html>