<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>postDetail</title>
</head>

<div class="container"><h3>Link 게시판</h3></div>
<div class = "container">
    <div>
        <table>
            
            <tbody>
            <tr th:each="post : ${post}">
                <td th:text="${post.index}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.name}"></td>
                <td th:text="${post.age}"></td>
                <td th:text="${post.sex}"></td>
                <td th:text="${post.department}"></td>
                <td th:text="${post.body}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>