<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/header :: header" />

<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container"><h3>MyLink</h3></div>
<div class = "container">
    <div>
        <table>
            <tbody>
            <tr th:each="post : ${post}">
                <td th:text="${post.index}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.name}"></td>
                <td th:text="${post.age}"></td>
                <td th:text="${post.sex}"></td>
                <td th:text="${post.department}"></td>
                <td><a th:href="${post.body}" th:text="${post.body}"></a></td>

                <button type="submit" formmethod="get" th:onclick="'location.href=\''+ @{/board-link/post/update/{id}(id=${post.index})} + '\''">Update</button>

                <form method="post" th:href="@{/board-link/post/{id}(id=${post.index})}">
                    <button type="submit" onclick="alert('delete complete!')">Delete</button>
                </form>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</html>