<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/header :: header" >
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="container"><h3>MyLink</h3></div>
        <table class="view_table" align="center" th:each="post : ${post}">
            <!-- Title -->
            <tr>
                <td colspan="4" class="view_title" th:text="${post.title}"></td>
            </tr>
            <!-- Info -->
            <tr>
                <td  class="view_id">작성자</td>
                <td  class="view_id2" th:text="${post.member.name}+'('+${post.member.address}+')'"></td>
                <td  class="view_id">전공</td>
                <td  class="view_id2" th:text="${post.member.department}"></td>
            </tr>
            <!-- Contents -->
            <tr>
                <td colspan="4" class="view_content"><a th:href="${post.body}" th:text="${post.body}"></a></td>
            </tr>
            <!-- Edit / Delete -->
        </table>

        <div th:each="post : ${post}" align="center" class="view_btn">
            <a href="#" th:href="@{/board-link}"
               class="btn btn-primary" role="button">목록으로</a>
            <a href="#" th:if="${session.loginMember==post.member}" th:href="@{/board-link/{id}/edit (id=${post.id})}"
               class="btn btn-primary" role="button">수정</a>
            <a href="#" th:if="${session.loginMember==post.member}" th:href="@{/board-link/{id}/delete (id=${post.id})}"
               class="btn btn-primary" role="button" onclick="alert('삭제 완료')">삭제</a>
        </div>
</body>
</html>