<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head th:replace="fragments/header :: header" />
    <body>
        <div th:replace="fragments/bodyHeader :: bodyHeader"/>
            <div class="container">
                <form method="post" th:href="@{/board-link/{id}/edit(id=${post.id})}">
                    <div class="form-group" th:each="post : ${post}">
                        <label form="id">#</label>
                            <div class="form-control" th:text="${post.id}"></div>
                        <label form="name">이름</label>
                            <div class="form-control" th:text="${post.member.name}+'('+${post.member.address}+')'"></div>
                        <label form="department">전공</label>
                            <div class="form-control" th:text="${post.member.department}"></div>
                        <label form="title">제목</label>
                            <textarea rows="1" cols="55" class = "form-control" id="title" name="title" th:text="${post.title}"></textarea>
                        <label form="body">내용</label>
                            <textarea rows="3" cols="55" class = "form-control" id="body" name="body" th:text="${post.body}"></textarea>
                    </div>
                    <div class="view_btn">
                        <button class="btn btn-primary" type="submit" onclick="alert('수정완료')">수정</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>