<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<div class="container">
    <form action="/board-link/new" method="post">
        <div class="form-group">
            <label form="name">이름</label>
                <div class = "form-control" th:text="${session.loginMember.name}+'('+${session.loginMember.address}+')'"/>
            <label form="department">전공</label>
                <div class = "form-control" th:text="${session.loginMember.department}"/>
            <label form="title">제목</label>
                <textarea rows="1" cols="55" class = "form-control" id="title" name="title" placeholder="제목"></textarea>
            <label form="body">내용</label>
                <textarea rows="3" cols="55" class = "form-control" id="body" name="body" placeholder="저장하고싶은 링크를 넣어주세요"/></textarea>
        </div>
        <div class = "view_btn">
            <button class="btn btn-primary "type="submit" onclick="alert('작성 완료')">등록</button>
        </div>
    </form>
</div>

</body>
</html>