<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">MyLink</a>
            <ul id="nav3" class="nav justify-content-end bg-light">
                <li class="nav-brand"> <a class="btn btn-primary" th:if="${session.loginMember != null}" th:text="'welcome '+${session.loginMember.name}+'님'"
                th:href="@{members/{id} (id=${session.loginMember.id})}">Home</a> </li>
                <li class="nav-brand"> <a class="btn btn-primary" th:if="${session.loginMember != null}" onclick="location.href='/logout'">Logout</a> </li>
                <li class="nav-brand"> <a class="btn btn-primary" th:if="${session.loginMember == null}" onclick="location.href='/login'">Login</a> </li>
            </ul>
        </div>
    </nav>
</div>
</html>